@import "../../../../styles/global.less";

#AuthInfo {
  border-radius: 40px;
  background-color: @primary-background;
  #AuthImg {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
  }
}
